body {
    padding-top: 30px;
    padding-left: 100px;
}    
input {
    height: 20px;
    text-align: center;
    margin: 5px;
    width: 95px;
}

button {
    width: 25px;
    height: 25px;
}

div {
    width: 113px;
    text-align: center;
    height: 20px;
}


    